{% extends "bootstrap/base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% block styles %}
    {{ super() }}
    <link rel="stylesheet" href="{{ url_for('.static', filename='styles.css') }}">
{% endblock %}
{% block content %}
    <div class="container">
        <div style="float: right">
            <p>{{ username }}</p>
            <p>{{ points }}</p>
            <a href="/logout">Logout</a>
        </div>
        <div>
            {% if error %}
                <p class="text-danger"><strong>Error:</strong> {{ error }}
            {% endif %}
            <form class="form sign-in" method="POST" action="/app">
                <h2 class="form-signin-heading">Add Your Tech Words</h2>
                {{ form.hidden_tag() }}
                {{ wtf.form_field(form.techword) }}
                <button class="btn btn-primary" type="submit">Submit</button>
            </form>
        </div>
        <div>
            <div style="padding-top: 40px">
                {% if cities_explored is not none %}
                    {% if cities_explored | length > 0 %}
                        <ul class="list-inline">
                            <p>Yay You have explored: </p>
                            {% for city in cities_explored %}
                                <li class="list-inline-item text-success">{{ city }}</li>
                            {% endfor %}
                        </ul>
                    {% else %}
                        {% if words | length == 0 %}
                            <p>Seems like you have added that words.</p>
                        {% endif %}
                    {% endif %}
                {% endif %}
            </div>
        </div>
    </div>

{% endblock %}
